<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.easybus">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:networkSecurityConfig="@xml/network_security_config">
        <activity android:name=".Page11Activity"></activity>

        <receiver
            android:name=".MyLocationService"
            android:enabled="true" />

        <activity android:name=".page1001Activity" />
        <activity android:name=".Page70401Activity" />
        <activity android:name=".Page70301Activity" />
        <activity android:name=".Page70201Activity" />
        <activity android:name=".Page70101Activity" />
        <activity android:name=".Page704Activity" />
        <activity android:name=".Page703Activity" />
        <activity android:name=".Page702Activity" />
        <activity android:name=".take_bus" />
        <activity android:name=".Page62" />
        <activity android:name=".Page61" />
        <activity
            android:name=".SelectPicPopupWindow"
            tools:ignore="Instantiatable" />
        <activity android:name=".AddFamMember" />
        <activity android:name=".edit" />
        <activity android:name=".qrscanner" />
        <activity android:name=".emergency_contact" />
        <activity android:name=".Page8Activity_caregiver" />
        <activity android:name=".edit_password" />
        <activity android:name=".my_contact" />
        <activity android:name=".qrcode_page" />
        <activity android:name=".Forgotpassword" />
        <activity android:name=".Page801Activity" />
        <activity android:name=".Page701Activity" />
        <activity android:name=".Login" />
        <activity android:name=".Register" />
        <activity android:name=".Page10Activity" />
        <activity android:name=".Page9Activity" />
        <activity android:name=".Page5011Activity" />
        <activity android:name=".Page5012Activity" />
        <activity android:name=".Login2" />
        <activity android:name=".SignUp2" />
        <activity android:name=".Login3" />
        <activity android:name=".Signup3" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.EasyBus.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:ignore="ExtraText">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".Page8Activity" />
        <activity android:name=".Page7Activity" />
        <activity android:name=".Page601" />
        <activity android:name=".Page611" />
        <activity android:name=".Page62_combination" />
        <activity android:name=".Page6Activity" />
        <activity android:name=".Page3Activity" />
        <activity android:name=".Page4Activity" />
        <activity android:name=".Page2Activity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Capture"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true"
            android:theme="@style/zxing_CaptureTheme" />
    </application>

</manifest>